<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="audio_tools.com.model_demo1">

    <!--忽略掉allowBackup警告-->
    <application
        android:label="@string/app_name"
        tools:replace="android:label"
        >
        <activity
            android:name=".ModelDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
