<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lmy.com.utilslib">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <meta-data
        android:name="android.max_aspect"
        android:value="2.1" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".web.ui.AppWebView"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <!--头像裁剪-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />

        <!--<meta-data-->
            <!--android:name="lmy.com.utilslib.glide.MyGlideModule"-->
            <!--android:value="AppGlideModule" />-->

        <!--&lt;!&ndash;&lt;!&ndash;更改Glide网络库&ndash;&gt;&ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"-->
            <!--android:value="GlideModule" />-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lmy.audio.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <provider
            android:name="lmy.com.utilslib.utils.BuglyFileProvider"
            android:authorities="com.lmy.audio.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource" />

        </provider>
    </application>

</manifest>
